# Entorno virtual
venv/

# Artefactos de Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Archivos de IDE
.vscode/
.idea/

# Logs y resultados
*.log
results/
model_checkpoints/

# Jupyter
.ipynb_checkpoints

# Archivos de sistema
.DS_Store

# Configuraciones locales
data/
lib/
baseline_tests/
evosuite-tests/
refined_tests/
valid_tests/
generated_tests/
docs/
temp_tests/
